@import './default.less';
@import './loading.less';

.container{
    .nav-left{
        width:15%;
        // height:calc(100vh);
        background-color:@colorS;
        color:@colorM;
    }
    .main{
        background-color: @colorL;
        overflow: auto;
        height:calc(100vh);
    }
    .content{
        position:relative;
        padding: 20px;
    }
}